{% extends 'base.html' %}
{% load static %}


{% block title %}Admin Panel{% endblock %}

{% block head %}
<link href="{% static 'css/useradmin.css' %}" rel="stylesheet">

{% endblock head %}
{% block side %}
    {% include 'useradmin/partial_admin_menu.html' with active='company' %}
    </li>
{% endblock %}
{% block main %}

<div class="row">
    <div class="col-md-9 card">
        <div class="card-body">
            <h3>Distributors list</h3>
        </div>
        <div class="card-body">
            {% for company in companies %}
                <hr class="my-1">
                <div class="col-md-6">
                <strong>
                    <div ><a href="{% url 'profile' company.user.username %}">{{company.name}}</a></div>
                </strong>
                    <p>
                        {{company.address.line1}} {{company.address.line2}} <br>
                        {{company.address.city}}, {{company.address.state}} <br>
                        {{company.address.country}} <br>
                        <abbr title="pincode">pincode:</abbr> {{company.address.pincode}}<br>
                        <abbr title="Phone">Tel:</abbr> {{company.address.contactno}}<br>
                    </p>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-12">
                {% include 'paginator.html' with paginator=companies %}
            </div>
        </div>
    </div>
</div>
{% endblock main %}
