<li class="sidebar-item">
    <a class="sidebar-link list-group-item{% if active == 'approve' %} active{% endif %}" href="{% url 'admin_home'%}">
        <i class="align-middle" data-feather="check-square"></i> <span class="align-middle">Approve profile</span>
    </a>
</li>

<li class="sidebar-item">
    <a class="sidebar-link list-group-item{% if active == 'add_medicine' %} active{% endif %}" href="{% url 'add_medicine'%}">
        <i class="align-middle" data-feather="file-plus"></i> <span class="align-middle">Add Medicine</span>
    </a>
</li>

<li class="sidebar-item">
    <a class="sidebar-link list-group-item{% if active == 'view_medicine' %} active{% endif %}" href="{% url 'view_medicines'%}">
        <i class="align-middle" data-feather="file"></i> <span class="align-middle">Veiw Medicine</span>
    </a>
</li>

<li class="sidebar-item">
    <a class="sidebar-link list-group-item{% if active == 'shop' %} active{% endif %}" href="{% url 'admin_shop_list'%}">
        <i class="align-middle" data-feather="list"></i> <span class="align-middle">Shop List</span>
    </a>
</li>
<li class="sidebar-item">
    <a class="sidebar-link list-group-item{% if active == 'company' %} active{% endif %}" href="{% url 'admin_company_list'%}">
        <i class="align-middle" data-feather="list"></i> <span class="align-middle">Company List</span>
    </a>
</li>