{% extends 'base.html' %}
{% load static %}


{% block title %}Admin Panel{% endblock %}
{% block side %}
    {% include 'useradmin/partial_admin_menu.html' with active='shop' %}
    </li>
{% endblock %}
{% block head %}
<link href="{% static 'css/useradmin.css' %}" rel="stylesheet">
<style>

</style>

{% endblock head %}
{% block main %}
<div class="row" >

    <div class="col-md-12 card">
        <div class="card-header">
            <h3>Pharmacy list</h3>
        </div>
        <section class="profiles">
            {% for shop in shops %}
                <hr class="my-3">
                <div class="col-md-6">
                <strong>
                    <div class="" ><a href="{% url 'profile' shop.user.username %}">{{shop.name}}</a></div>
                </strong>
                    <p>
                        P.O Box {{shop.address.line1}}-{{shop.address.line2}}, <br>
                        {{shop.address.city}}, {{shop.address.state}} <br>
                        {{shop.address.country}} <br>
                        <abbr title="pincode">pincode:</abbr> {{shop.address.pincode}}<br>
                        <abbr title="Phone">Tel:</abbr> {{shop.address.contactno}}<br>
                    </p>
                </div>
            {% endfor %}
        </section>
        <div class="row">
            <div class="col-md-12">
                {% include 'paginator.html' with paginator=shops %}
            </div>
        </div>
    </div>
</div>
{% endblock main %}
