{% extends 'base.html' %}
{% load static %}


{% block title %}Admin Panel{% endblock %}
{% block side %}
    {% include 'useradmin/partial_admin_menu.html' with active='medicine' %}
    </li>
{% endblock %}
{% block main %}
<div class="row" >

    <div class="col-md-12 card">
        <div class="card-header">
            <h3 >Medicine Table</h3>
        </div>

        <section class="medicines">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Details</th>
                </tr>
                </thead>
                <tbody>
                {% for medicine in medicines %}

                <tr>
                    <th scope="row">{{medicine.pk}}</th>
                    <td>{{medicine.name}}</td>
                    <td>{{medicine.type}}</td>
                    <td>{{medicine.details}}</td>
                </tr>

                {% endfor %}
                </tbody>
            </table>
        </section>
        <div class="row">
            <div class="col-md-12">
                {% include 'paginator.html' with paginator=medicines %}
            </div>
        </div>
    </div>
</div>
{% endblock main %}
