{% extends 'base.html'%}
{% load static %}
{% block title %} About{% endblock %}
{% block side %}
    {% if user.is_staff %}
            {% include 'useradmin/partial_admin_menu.html' with active='settings' %}
        {% elif user.profile.type == 'C' %}
            {% include 'usercompany/partial_company_menu.html' with active='settings' %}
        {% elif user.profile.type == 'S' %}
            {% include 'usershop/partial_shop_menu.html' with active='settings' %}
    {% endif %}
{% endblock %}
{% block main %}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="card py-2 py-md-3">
                    <div class="card-body">
                        <img src="{% static 'frymn-logos.jpeg' %}" height="50%" class="img-fluid align-items-md-center" alt="frymn-logo" />       
                        <p> copyright &copy;<script>document.write(new Date().getFullYear())</script> Frymn Company Limited. All Rights Reserved</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8 text-center">
                <div class="card bg-light py-2 py-md-3 border">
                    <div class="card-body">
                        <h3>About</h3>
                        <p>Frymn Pharmacy is a system that was created to help pharmacies in the record kkeping of their data.
                            the system assist in the knowing which medicine is in the pharmacy and which is not.
                        </p>
                    </div>
                </div>
            </div>                    
        </div>
    </div>
</div>

{% endblock %}
