{% extends 'base.html'%}
{% block title %} Help center{% endblock %}
{% block side %}
    {% if user.is_staff %}
            {% include 'useradmin/partial_admin_menu.html' with active='settings' %}
        {% elif user.profile.type == 'C' %}
            {% include 'usercompany/partial_company_menu.html' with active='settings' %}
        {% elif user.profile.type == 'S' %}
            {% include 'usershop/partial_shop_menu.html' with active='settings' %}
    {% endif %}
{% endblock %}
{% block main %}
<div class="row">
    <div class="card">
        <div class="card-header">
            <h3>Help Center</h3>
        </div>
        <div class="card-body">
            <p>
               For any help that you need, there are the several options that are enlisted below for efficiency. 
            </p>
            
        </div>
    </div>
</div>

{% endblock %} 