{% include 'head.html' %}
{% load static %}
<main class="d-flex w-100 " >
    <div class="container d-flex flex-column">
        <div class="row vh-100">
            <div class="col-sm-10 col-md-8 col-lg-4 mx-auto d-table h-100">
                <div class="d-table-cell align-middle">
                    <div class="card" >
                        <div class="card-body">
                            <div class="m-sm-4">
                                <div class="text-center">
                                    <img src="{% static 'logo.png' %}" alt="logo" class="img-fluid" width="250" height="132" />
                                    <hr class="my-3 mb-4" />
                                    {% if messages %}
                                        {% for message in messages %}
                                          <div class="alert alert-success alert-dismissible" role="alert">
                                              <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
                                              <div class="alert-message">{{ message }}</div>
                                          </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <form method="post" action="{% url 'login' %}" role="form">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label class="form-label">Username</label>
                                        <input class="form-control form-control-lg" type="text" name="username" placeholder="Enter your username" />
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Password</label>
                                        <input class="form-control form-control-lg" type="password" name="password" placeholder="Enter your password" />
                                        <div class="mb-3">
                                            <span class="my-3 b">New to this site?  <a href="{% url 'signup' %}">Create account</a></span>
                                        </div>
                                    </div>
                                    <div class="text-center mt-3">
                                        <button type="submit" class="btn btn-lg btn-primary">Sign in</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>

<script src="{% static 'js/app.js' %}"></script>

