<li class="sidebar-item">
    <a class="sidebar-link list-group-item{% if active == 'profile' %} active{% endif %}" href="{% url 'settings'%}">
        <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Account</span>
    </a>
</li>

<li class="sidebar-item">
    <a class="sidebar-link list-group-item{% if active == 'password' %} active{% endif %}" href="{% url 'password'%}">
        <i class="align-middle" data-feather="user"></i> <span class="align-middle">Password</span>
    </a>
</li>