{% extends 'base.html' %}

{% block title %}Company Panel{% endblock %}

{% block side %}
   {% include 'usercompany/partial_company_menu.html' with active='stock' %}
{% endblock %}

{% block main %}
  <div class="row card">

    <div class="col-md-12">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-success alert-dismissible">
            <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
            <div class="alert-message">{{ message }}</div>
          </div>
        {% endfor %}
      {% endif %}
      <h3>Edit Stock</h3>
      <form role="form" class="form-horizontal" method="post" action="{% url 'edit_stock_company' pk %}">
        {% csrf_token %}
        {% for field in form.visible_fields %}
          <div class="form-group{% if field.errors %} has-error{% endif %}">
            <label for="{{ field.label }}" class="col-sm-2 control-label">{{ field.label }}</label>
            <div class="col-sm-10">
              {{ field }}
              {% if field.help_text %}
                <span class="help-block">{{ field.help_text }}</span>
              {% endif %}
              {% for error in field.errors %}
                <label class="control-label">{{ error }}</label>
              {% endfor %}
            </div>
          </div>
        {% endfor %}

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock main %}
