
{% extends 'base.html' %}
{% load static %}


{% block title %} company {% endblock %}

{% block side %}
   {% include 'usercompany/partial_company_menu.html' with active='home' %}
{% endblock %}

{% block head %}
<link href="{% static 'css/usercompany.css' %}" rel="stylesheet">
{% endblock head %}

{% block main %}
<div class="card">
    <div class="card-body">  
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="card bg-light py-2 py-md-3 border">
                    <div class="card-body">
                        <a class="" href="{% url 'shop_home'%}">
                            <i class="align-middle" data-feather="home"></i> <br>
                            <span class="align-middle">Home</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="card bg-light py-2 py-md-3 border">
                    <div class="card-body">
                        <a class="" href="{% url 'shop_home'%}">
                            <i class="align-middle" data-feather="shopping-bag"></i> <br>
                            <span class="align-middle">Add stock</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="card bg-light py-2 py-md-3 border">
                    <div class="card-body">
                        <a class="" href="{% url 'shop_home'%}">
                            <i class="align-middle" data-feather="list"></i> <br>
                            <span class="align-middle">View stock</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="card bg-light py-2 py-md-3 border">
                    <div class="card-body">
                        <a class="" href="{% url 'shop_home'%}">
                            <i class="align-middle" data-feather="clipboard"></i> <br>
                            <span class="align-middle">Check stock Availability</span>
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 text-center">
                <div class="card bg-light py-2 py-md-3 border">
                    <div class="card-body">
                        <a class="" href="{% url 'shop_home'%}">
                            <i class="align-middle" data-feather="list"></i> <br>
                            <span class="align-middle">Orders</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="card bg-light py-2 py-md-3 border">
                    <div class="card-body">
                       <a class="" href="{% url 'shop_home'%}">
                            <i class="align-middle" data-feather="check-circle"></i> <br>
                            <span class="align-middle">Transactions</span>
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 text-center">
                <div class="card bg-light py-2 py-md-3 border">
                    <div class="card-body">
                        <a class="" href="{% url 'settings'%}">
                            <i class="align-middle" data-feather="settings"></i> <br>
                            <span class="align-middle">Settings</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-8 text-center">
                <div class="card bg-light py-2 py-md-3 border">
                    <div class="card-body">
                        <h1>Distributors dashboard</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}
