{% extends 'base.html' %}
{% load static %}


{% block title %}Company Panel{% endblock %}

{% block side %}
   {% include 'usercompany/partial_company_menu.html' with active='order' %}
{% endblock %}

{% block head %}
<link href="{% static 'css/useradmin.css' %}" rel="stylesheet">
{% endblock head %}

{% block main %}
<div class="row">
    <div class="col-md-12 card">
        <div class="row">
            <div class="col-md-5 card-header">
                <h3>Orders</h3>
            </div>
            <div class="col-md-7 card-header">
                <form role="search" action="{% url 'view_order_company' %}">
                    <div class="input-group input-group-navbar">
                        <input type="text" class="form-control" name="q" placeholder="Search…" aria-label="Search" value="{{ querystring }}">
                        <button class="btn" type="submit">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search align-middle"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <section class="orders">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>From Shop</th>
                    <th>Medicine</th>
                    <th>Quantity Asked</th>
                    <th>Quantity Available</th>
                    <th>Approval</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}

                <tr>
                    <th scope="row">{{order.pk}}</th>
                    <td>{{order.from_user.name}}</td>
                    <td>{{order.medicine.name}}</td>
                    <td>{{order.quantity}}</td>
                    <td>{{order.avail}}</td>
                    <td>{{order.approval}}</td>
                    <td>{% if order.is_approval_none %}
                        {% if order.avail > order.quantity %}
                        <a href="{% url 'accept_order_company' pk=order.pk %}"
                           onclick="return confirm('Are you sure you want to Accept?')">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp; Accept
                        </a>
                        {% endif %}
                        <a href="{% url 'decline_order_company' pk=order.pk %}"
                           onclick="return confirm('Are you sure you want to Decline?')">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp; Decline
                        </a>
                        {% endif %}
                    </td>
                </tr>

                {% endfor %}
                </tbody>
            </table>
        </section>
        <div class="row">
            <div class="col-md-12">
                {% include 'paginator.html' with paginator=orders %}
            </div>
        </div>
    </div>
</div>
{% endblock main %}
