{% extends 'base.html' %}

{% block title %}Place order{% endblock %}
{% block side %}
    {% include 'usershop/partial_shop_menu.html' with active='order' %}
{% endblock %}
{% block main %}
{% load static %}
<script src="{% static 'js/order.js' %}"></script>
<div class="row">
    <div class="col-12 card">
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        <div class="card-header">
            <h3 >Place Order</h3>
        </div>
        <div class="card-body">
           <form role="form" class="form-horizontal" method="post" action="{% url 'create_order' %}">
                {% csrf_token %}
                <div class="form-group">
                    <div class="mb-3 col-sm-12">
                        <label for="medicineSelect" class="control-label mb-3">Select Medicine</label>
                        <select class="form-control row" id="medicineSelect" name="medicineSelect" required>
                            <option hidden disabled selected value> -- select an option --</option>
                            {% for medicine in medicines %}
                                <option value="{{medicine.pk}}">{{medicine.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <fieldset class="form-group" id="collegeSelect">
                </fieldset>

                <div id="panel">
                    <div class="form-group">
                        <label for="quantity" class="col-sm-2 control-label mb-3">Quantity</label>
                        <div class="col-sm-12">
                            <input class="form-control mb-3 row" type="number" id="quantity" name="quantity" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#medicineSelect').on('change', function() {
        medicineValue = this.value;

        $.ajax({
                url: '/activities/orders/get_company_list',
                data: {
                'medicinevalue': medicineValue,
                },
                dataType: 'html',
                success: function (data) {
                    $('#collegeSelect').html(data);
                }
            });

        });

    });
</script>
    <!-- <script src="{% static 'js/order.js' %}"></script> -->
{% endblock main %}
