{% extends 'base.html' %}
{% load static %}


{% block title %}Shop Panel{% endblock %}
{% block side %}
    {% include 'usershop/partial_shop_menu.html' with active='stock-avail' %}
{% endblock %}
{% block head %}
<link href="{% static 'css/useradmin.css' %}" rel="stylesheet">
{% endblock head %}

{% block main %}
<div class="row">

    <div class="col-md-12 card">
        <div class="row">
            <div class="col-md-5 card-header">
                <h3>Availability</h3>
            </div>
            <div class="col-md-7 card-header">
                <form role="search" action="{% url 'view_avail_stock_shop' %}">
                    <div class="input-group input-group-navbar">
						<input type="text" class="form-control" name="q" placeholder="Search…" aria-label="Search" value="{{ querystring }}">
						<button class="btn" type="submit">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search align-middle"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                        </button>
					</div>
                </form>
            </div>
        </div>
        <div class="row">
            <section class="stocks">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Medicine</th>
                        <th>Availability</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for stock in stocks %}

                    <tr>
                        <th scope="row">{{stock.medicine}}</th>
                        <td>{{stock.medicine__name}}</td>
                        <td>{{stock.mcount}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% include 'paginator.html' with paginator=stocks %}
            </div>
        </div>
    </div>
</div>
{% endblock main %}
