{% extends 'base.html' %}
{% load static %}


{% block title %}Shop Panel{% endblock %}

{% block head %}
<link href="{% static 'css/useradmin.css' %}" rel="stylesheet">
{% endblock head %}
{% block side %}
    {% include 'usershop/partial_shop_menu.html' with active='trans' %}
{% endblock %}
{% block main %}
<div class="row">

    <div class="col-md-12 card">
        <div class="row">
            <div class="col-md-5 card-header">
                <h3>Transactions</h3>
            </div>
            <div class="col-md-7 card-header">
                <form role="search" action="{% url 'view_transactions_shop' %}">
                    <div class="input-group input-group-navbar">
						<input type="text" class="form-control" name="q" placeholder="Search…" aria-label="Search" value="{{ querystring }}">
						<button class="btn" type="submit">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search align-middle"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                        </button>
					</div>
                </form>
            </div>
        </div>
        <section class="stocks">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Company</th>
                    <th>Transaction Date</th>
                    <th>Medicine</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                </tr>
                </thead>
                <tbody>
                {% for stock in trans %}

                <tr>
                    <th scope="row">{{stock.pk}}</th>
                    <td>{{stock.from_user.name}}</td>
                    <td>{{stock.trans_date}}</td>
                    <td>{{stock.medicine.name}}</td>
                    <td>{{stock.quantity}}</td>
                    <td>{{stock.total_price}}</td>
                </tr>

                {% endfor %}
                </tbody>
            </table>
        </section>
        <div class="row">
            <div class="col-md-12">
                {% include 'paginator.html' with paginator=trans %}
            </div>
        </div>
    </div>
</div>
{% endblock main %}
